<!-- wp:image {"align":"left","width":200,"height":0,"className":"is-style-default"} -->
<div class="wp-block-image is-style-default"><figure class="alignleft is-resized">
  <img src="[studl_thumbnail post_id=1]" alt="thumbnail" width="200" height="0"/>
  </figure></div>
  <!-- /wp:image -->
  
  <!-- wp:paragraph -->
  <p>[studl_description post_id=1 part=1]</p>
  <!-- /wp:paragraph -->
  <!-- wp:more -->
  <!--more-->
  <!-- /wp:more -->
  <!-- wp:paragraph -->
  <p>[studl_description post_id=1 part=2]</p>
  <!-- /wp:paragraph -->
  
  <!-- wp:table {"className":"c-table is-style-stripes"} -->
  <figure class="wp-block-table c-table is-style-stripes">
  <table class=""><tbody>
  <tr><td>Nom du fichier</td><td>[studl_filename post_id=1]</td></tr>
  <tr><td>Taille</td><td>[studl_filesize post_id=1]</td></tr>
  <tr><td>Date</td><td>[studl_filedate post_id=1]</td></tr>
  <tr><td>Version</td><td>[studl_fileversion post_id=1]</td></tr>
  <tr><td>md5</td><td>[studl_filemd5 post_id=1]</td></tr>
  <tr><td>sha1</td><td>[studl_filesha1 post_id=1]</td></tr>
  </tbody></table>
  </figure>
  <!-- /wp:table -->
  
  <!-- wp:paragraph -->
  <p><input type="button" onclick="[studl_filedownload post_id=1]" value="Télécharger le fichier"></p>
  <!-- /wp:paragraph -->
  